<section class="account-changePassword">

 <form method="post">
 

    <div>
    <label for="password">Ancien Mot de passe</label>
    <input type="text" name="oldPassword" id="oldPassword"  pattern="(?=.*\d)(?=.*[@$!%*,:;§*µ^¨+=-`'#~&_])(?=.*[A-Za-zÀ-ÿ])[A-Za-zÀ-ÿ\d@$!%*?&]{6,}"
 required placeholder=""/>
    <p class="form-error-msg">le mots de passe doit faire minimum 8 caractéres et contenir au moins 1 numéro et 1 caractére spécial</p>
    </div>
    
    <div>
    <label for="password">Nouveau Mot de passe</label>
   <input type="text" name="newPassword" id="newPassword" pattern="(?=.*\d)(?=.*[@$!%*,:;§*µ^¨+=-`'#~&_])(?=.*[A-Za-zÀ-ÿ])[A-Za-zÀ-ÿ\d@$!%*?&]{6,}"
 required placeholder=""/>
    <p class="form-error-msg">le mots de passe doit faire minimum 8 caractéres et contenir au moins 1 numéro et 1 caractére spécial</p>
    </div>
    
  
    <input class="moreButton" type="submit" value="MODIFIER"/>
  <p><?= $message ?></p>  
 </form>
    
</section>








    




