
<section class="mentions_legales">
<h2>Mentions Légales</h2>


<ul>

<li>
<h3>1. Informations Générales</h3>

<p>Nom du site : posit'it</p>
<p>Responsable de la publication : Audemar Romain</p>
<p>Contact e-mail : <a href="mailto:contact.positit@gmail.com">contact.positit@gmail.com</a></p>
<p>Hébergement : [Nom de l’hébergeur], [Adresse de l’hébergeur], [Numéro de téléphone]</p>
</li>

<li>
<h3>2. Objet du Site</h3>

<p>Le site posit'it est un site à but non lucratif dédié à la diffusion de messages positifs sous forme de post-it. Il permet aux utilisateurs de publier des messages encourageants et de soutenir cette initiative par des dons via PayPal.</p>
</li>

<li>
<h3>3. Propriété Intellectuelle</h3>

<p>Tous les contenus présents sur le site posit'it, incluant mais sans se limiter aux textes, images, graphiques, logos et vidéos, sont la propriété exclusive de Audemar Romain, ou sont utilisés avec l'autorisation des détenteurs des droits.</p>
<p>Toute reproduction, représentation, modification ou adaptation, totale ou partielle, de ces contenus est interdite sans l'autorisation préalable et écrite de Audemar Romain.</p>
<p>La majorité des icônes utilisées le sont en provenance du site par Dave Gandy: http://fontawesome.io, sous la licence SIL OFL 1.1.</p>
</li>

<li>
<h3>4. Données Personnelles</h3>

<p>Conformément à la loi sur la protection des données personnelles, RGPD pour l’Union Européenne, nous nous engageons à protéger vos données personnelles.</p>
<p>Les informations collectées lors de l’inscription et des dons sont utilisées uniquement pour la gestion des comptes et des transactions. </p>
<p>Vous disposez d'un droit d'accès, de rectification et de suppression de vos données personnelles en nous contactant à l’adresse e-mail <a href="mailto:contact.positit@gmail.com">contact.positit@gmail.com</a>.</p>
</li>

<li>
<h3>5. Sécurité des Comptes</h3>

<p>Les comptes utilisateurs sont protégés par des mots de passe et sont accessibles uniquement aux personnes autorisées.</p>
<p>Nous recommandons aux utilisateurs de choisir des mots de passe sécurisés et de ne pas les partager.</p>
<p>En cas de suspicion de compromission de votre compte, veuillez nous contacter immédiatement.</p>
</li>

<li>
<h3>6. Liens Externes</h3>

<p>Le site posit'it peut contenir des liens vers d'autres sites internet.</p>
<p>Nous ne sommes pas responsables du contenu de ces sites externes et ne pouvons garantir leur sécurité.</p>
</li>

<li>
<h3>7. Responsabilité</h3>

<p>Le site posit'it est fourni "en l'état" et nous ne garantissons pas son bon fonctionnement continu ou son absence d'erreurs.</p>
<p>Nous déclinons toute responsabilité en cas de dommages directs ou indirects pouvant résulter de l’utilisation du site.</p>
</li>

<li>
<h3>8. Modifications des Mentions Légales</h3>

<p>Nous nous réservons le droit de modifier ces mentions légales à tout moment.</p>
<p>Les modifications seront publiées sur cette page et entreront en vigueur dès leur publication.</p>
</li>

<li>
<h3>9. Droit Applicable</h3>

<p>Les présentes mentions légales sont régies par le droit de la france et de l'union européenne, et tout litige relatif à l’utilisation du site sera soumis aux tribunaux compétents de l'occitanie.</p>
</li>

<li>
<h3>10. Utilisation des Dons</h3>

<p>Les dons effectués sur le site ont pour objectif de financer la maintenance du site et sa promotion, sans recourir à des publicités intrusives.</p>
<p>Par ailleurs, 50 % des dons reçus seront reversés à une association caritative.</li></p>
</ul>

</section>